<section class="case">
  <div class="container" data-aos="fade-up">
    <header>
      <div class="liner">
        <i class="bi bi-check-circle-fill"></i>
        <div class="line"></div>
      </div>
      <h2>OUR PAST FLIGHTS AND STORIES</h2>
      <p>
        Explore our case studies to see the fresh, optimized websites we’ve
        designed for clients across North America.
      </p>
      <a href="">Browse All Case Studies</a>
    </header>
    <div class="row mt-5">
      <div class="col-md-4">
        <div class="card">
          <div class="img">
            <img src="/assets/img/case-1.png" alt="" class="img-fluid" />
          </div>
          <div class="content">
            <img src="/assets/img/case.png" alt="" class="img-fluid" />
            <div class="text">
              <a href="/">BC DIARY</a>
              <p>Lorem ipsum dolor sit amet consectetur.</p>
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-4">
        <div class="card">
          <div class="img">
            <img src="/assets/img/case-2.png" alt="" class="img-fluid" />
          </div>
          <div class="content">
            <img src="/assets/img/case.png" alt="" class="img-fluid" />
            <div class="text">
              <a href="/">BC DIARY</a>
              <p>Lorem ipsum dolor sit amet consectetur.</p>
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-4">
        <div class="card">
          <div class="img">
            <img src="/assets/img/case-3.png" alt="" class="img-fluid" />
          </div>
          <div class="content">
            <img src="/assets/img/case.png" alt="" class="img-fluid" />
            <div class="text">
              <a href="/">BC DIARY</a>
              <p>Lorem ipsum dolor sit amet consectetur.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
