<section class="flight-2">
  <div class="container" data-aos="fade-up">
    <header>
      <div class="liner">
        <i class="bi bi-check-circle-fill"></i>
        <div class="line"></div>
      </div>
      <p>OUR TECHNOLOGY SPECIALTIES</p>
    </header>
    <div class="row">
      <div class="col-md-3 mt-3">
        <div class="flight-box">
          <img
            src="/assets/img/weapon-2/w-weapon-1-on.png"
            alt="Image 1"
            class="img-1"
          />
          <a href="/">Speciality</a>
        </div>
      </div>

      <div class="col-md-3 mt-3 mb-5">
        <div class="flight-box">
          <img
            src="/assets/img/weapon-2/w-weapon-2-on.png"
            alt="Image 1"
            class="img-1"
          />

          <a href="/">Speciality</a>
        </div>
      </div>

      <div class="col-md-3 mt-3 mb-5">
        <div class="flight-box">
          <img
            src="/assets/img/weapon-2/w-weapon-3-on.png"
            alt="Image 1"
            class="img-1"
          />

          <a href="/">Speciality</a>
        </div>
      </div>

      <div class="col-md-3 mt-3 mb-5">
        <div class="flight-box">
          <img
            src="/assets/img/weapon-2/w-weapon-4-on.png"
            alt="Image 1"
            class="img-1"
          />

          <a href="/">Speciality</a>
        </div>
      </div>

      <!--end first row-->

      <div class="col-md-3 mt-3 mb-5">
        <div class="flight-box">
          <img
            src="/assets/img/weapon-2/w-weapon-5-on.png"
            alt="Image 1"
            class="img-1"
          />

          <a href="/">Speciality</a>
        </div>
      </div>

      <div class="col-md-3 mt-3 mb-5">
        <div class="flight-box">
          <img
            src="/assets/img/weapon-2/w-weapon-6-on.png"
            alt="Image 1"
            class="img-1"
          />

          <a href="/">Speciality</a>
        </div>
      </div>

      <div class="col-md-3 mt-3 mb-5">
        <div class="flight-box">
          <img
            src="/assets/img/weapon-2/w-weapon-7-on.png"
            alt="Image 1"
            class="img-1"
          />

          <a href="/">Speciality</a>
        </div>
      </div>

      <div class="col-md-3 mt-3 mb-5">
        <div class="flight-box">
          <img
            src="/assets/img/weapon-2/w-weapon-8-on.png"
            alt="Image 1"
            class="img-1"
          />

          <a href="/">Speciality</a>
        </div>
      </div>

      <!--end second row-->
      <div class="col-md-3 mt-3 mb-5">
        <div class="flight-box">
          <img
            src="/assets/img/weapon-2/w-weapon-9-on.png"
            alt="Image 1"
            class="img-1"
          />

          <a href="/">Speciality</a>
        </div>
      </div>

      <div class="col-md-3 mt-3 mb-5">
        <div class="flight-box">
          <img
            src="/assets/img/weapon-2/w-weapon-10-on.png"
            alt="Image 1"
            class="img-1"
          />

          <a href="/">Speciality</a>
        </div>
      </div>

      <div class="col-md-3 mt-3 mb-5">
        <div class="flight-box">
          <img
            src="/assets/img/weapon-2/w-weapon-11-on.png"
            alt="Image 1"
            class="img-1"
          />

          <a href="/">Speciality</a>
        </div>
      </div>

      <div class="col-md-3 mt-3 mb-5">
        <div class="flight-box">
          <img
            src="/assets/img/weapon-2/w-weapon-12-on.png"
            alt="Image 1"
            class="img-1"
          />

          <a href="/">Speciality</a>
        </div>
      </div>

      <!--End third row-->
      <div class="col-md-3 mt-3">
        <div class="flight-box">
          <img
            src="/assets/img/weapon-2/w-weapon-12-on.png"
            alt="Image 1"
            class="img-1"
          />

          <a href="/">Speciality</a>
        </div>
      </div>

      <div class="col-md-3 mt-3">
        <div class="flight-box">
          <img
            src="/assets/img/weapon-2/w-weapon-13-on.png"
            alt="Image 1"
            class="img-1"
          />

          <a href="/">Speciality</a>
        </div>
      </div>

      <div class="col-md-3 mt-3">
        <div class="flight-box">
          <img
            src="/assets/img/weapon-2/w-weapon-15-on.png"
            alt="Image 1"
            class="img-1"
          />

          <a href="/">Speciality</a>
        </div>
      </div>

      <div class="col-md-3 mt-3">
        <div class="flight-box">
          <img
            src="/assets/img/weapon-2/w-weapon-16-on.png"
            alt="Image 1"
            class="img-1"
          />

          <a href="/">Speciality</a>
        </div>
      </div>
    </div>
  </div>
</section>
