<section class="flight">
  <div class="container" data-aos="fade-up">
    <header>
      <div class="liner">
        <i class="bi bi-check-circle-fill"></i>
        <div class="line"></div>
      </div>
      <p>OUR PAST FLIGHTS AND STORIES</p>
    </header>
    <div class="row">
      <div class="col-md-3 mt-3">
        <div class="flight-box">
          <img
            src="/assets/img/weapons/3-icon-1.png"
            alt="Image 1"
            class="img-1"
          />
          <img
            src="/assets/img/weapons/3-icon-1-hover.png"
            alt="Image 1"
            class="img-2"
          />
          <a href="/">Hitachi</a>
        </div>
      </div>
      <div class="col-md-3 mt-3">
        <div class="flight-box">
          <img
            src="/assets/img/weapons/3-icon-2.png"
            alt="Image 1"
            class="img-1"
          />
          <img
            src="/assets/img/weapons/3-icon-2-hover.png"
            alt="Image 1"
            class="img-2"
          />
          <a href="/">Hitachi</a>
        </div>
      </div>
      <div class="col-md-3 mt-3">
        <div class="flight-box">
          <img
            src="/assets/img/weapons/3-icon-3.png"
            alt="Image 1"
            class="img-1"
          />
          <img
            src="/assets/img/weapons/3-icon-3-hover.png"
            alt="Image 1"
            class="img-2"
          />
          <a href="/">Hitachi</a>
        </div>
      </div>

      <div class="col-md-3 mt-3">
        <div class="flight-box">
          <img
            src="/assets/img/weapons/3-icon-4.png"
            alt="Image 1"
            class="img-1"
          />
          <img
            src="/assets/img/weapons/3-icon-4-hover.png"
            alt="Image 1"
            class="img-2"
          />
          <a href="/">Hitachi</a>
        </div>
      </div>

      <div class="col-md-3 mt-3">
        <div class="flight-box">
          <img
            src="/assets/img/weapons/3-icon-5.png"
            alt="Image 1"
            class="img-1"
          />
          <img
            src="/assets/img/weapons/3-icon-5-hover.png"
            alt="Image 1"
            class="img-2"
          />
          <a href="/">Hitachi</a>
        </div>
      </div>

      <div class="col-md-3 mt-3">
        <div class="flight-box">
          <img
            src="/assets/img/weapons/3-icon-6.png"
            alt="Image 1"
            class="img-1"
          />
          <img
            src="/assets/img/weapons/3-icon-6-hover.png"
            alt="Image 1"
            class="img-2"
          />
          <a href="/">Hitachi</a>
        </div>
      </div>

      <div class="col-md-3 mt-3">
        <div class="flight-box">
          <img
            src="/assets/img/weapons/3-icon-7.png"
            alt="Image 1"
            class="img-1"
          />
          <img
            src="/assets/img/weapons/3-icon-7-hover.png"
            alt="Image 1"
            class="img-2"
          />
          <a href="/">Hitachi</a>
        </div>
      </div>

      <div class="col-md-3 mt-3">
        <div class="flight-box">
          <img
            src="/assets/img/weapons/3-icon-8.png"
            alt="Image 1"
            class="img-1"
          />
          <img
            src="/assets/img/weapons/3-icon-8-hover.png"
            alt="Image 1"
            class="img-2"
          />
          <a href="/">Hitachi</a>
        </div>
      </div>
    </div>
  </div>
</section>
