<section id="hero" class="hero">
  <div class="row">
    <div class="col-lg-6 d-flex flex-column justify-content-center">
      <div class="starwars-page">
        <div class="starwars-intro">
          <h1 class="text-center">VADER</h1>
          <br />
          <p>
            It is a period of insurgence. Rebel spaceships, striking from a
            hidden base on a moon of Yahin, have won a shocking surprise victory
            against the rightful reign of the Galactic Empire.
          </p>
          <p>
            The Empire's ultimate peacekeeping force, THE DEATH STAR, was
            destroyed due to an unforseen design flaw. Without this deterrent,
            the rule of law is in danger. Chaos looms!
          </p>
          <p>
            For the nineteen years after the vaniquishing of the Jedi and his
            painful rebirth on Volcanic Mustafarm Sith Lord DARTH VADER has
            faithfully served his master. But now, he has failed the Emperor and
            must pay the price...
          </p>
        </div>
      </div>
    </div>

    <div class="wrapper">
      <div class="button active">
        <a href=""
          ><div class="icon">
            <img src="/assets/img/nav-icon-1.png" alt="" />
          </div>
          <span>Home</span></a
        >
      </div>
      <div class="button">
        <a href=""
          ><div class="icon">
            <img src="/assets/img/nav-icon-2.png" alt="" />
          </div>
          <span>Home</span></a
        >
      </div>
      <div class="button">
        <a href=""
          ><div class="icon">
            <img src="/assets/img/nav-icon-3.png" alt="" />
          </div>
          <span>Home</span></a
        >
      </div>
      <div class="button">
        <a href=""
          ><div class="icon">
            <img src="/assets/img/nav-icon-1.png" alt="" />
          </div>
          <span>Home</span></a
        >
      </div>
      <div class="button">
        <a href=""
          ><div class="icon">
            <img src="/assets/img/nav-icon-2.png" alt="" />
          </div>
          <span>Home</span></a
        >
      </div>
    </div>

    <div class="star-btn col-md-12">
      <div class="btns">
        <a href="/" class="btn">Book Now</a>
        <a href="/" class="btn">Meet Now</a>
      </div>

      <p>+1 602-463-4645</p>
      <p><span>3115 North 24th street Suite A200. Phoenix, AZ 85016</span></p>
    </div>
  </div>
</section>
