<!-- Vendor JS Files -->
<script src="/assets/assets/purecounter/purecounter.js"></script>
<script src="/assets/assets/aos/aos.js"></script>
<script src="/assets/assets/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="/assets/assets/glightbox/js/glightbox.min.js"></script>
<script src="/assets/assets/isotope-layout/isotope.pkgd.min.js"></script>
<script src="/assets/assets/swiper/swiper-bundle.min.js"></script>

<!-- Template Main JS File -->
<script src="/assets/js/main.js"></script>

<script src="http://code.jquery.com/jquery-3.1.1.slim.min.js"></script>

<script src="/assets/js/starwarsintro.js"></script>

<script type="text/javascript">
  var _gaq = _gaq || [];
  _gaq.push(["_setAccount", "UA-36251023-1"]);
  _gaq.push(["_setDomainName", "jqueryscript.net"]);
  _gaq.push(["_trackPageview"]);

  (function () {
    var ga = document.createElement("script");
    ga.type = "text/javascript";
    ga.async = true;
    ga.src =
      ("https:" == document.location.protocol ? "https://ssl" : "http://www") +
      ".google-analytics.com/ga.js";
    var s = document.getElementsByTagName("script")[0];
    s.parentNode.insertBefore(ga, s);
  })();
</script>
