<section id="values" class="values pb-0">
  <div class="container" data-aos="fade-up">
    <header>
      <div class="liner">
        <i class="bi bi-check-circle-fill"></i>
        <div class="line"></div>
      </div>
      <p>Get Started Now</p>
    </header>

    <div class="row">
      <div
        class="col-lg-4 mt-4 mt-lg-0"
        data-aos="fade-up"
        data-aos-delay="200"
      >
        <div class="box d-flex align-items-center flex-column mb-3">
          <div class="img">
            <img src="/assets/img/nav-icon-1.png" alt="Card Image" />
          </div>
          <h3>Ad cupiditate sed est odio</h3>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Alias
            quidem laborum accusamus neque id ipsam tenetur consequatur
            obcaecati, fuga nostrum?
          </p>
          <div class="mt-auto">
            <a href="/">Get some Online zing</a>
          </div>
        </div>
      </div>

      <div
        class="col-lg-4 mt-4 mt-lg-0"
        data-aos="fade-up"
        data-aos-delay="400"
      >
        <div class="box d-flex align-items-center flex-column mb-3">
          <div class="img">
            <img src="/assets/img/nav-icon-2.png" alt="Card Image" />
          </div>
          <h3>TURBOCHARGINTG YOUR WEBSITE</h3>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Neque
            explicabo delectus illo!
          </p>
          <div class="mt-auto">
            <a href="/">Get some Online zing</a>
          </div>
        </div>
      </div>

      <div
        class="col-lg-4 mt-4 mt-lg-0"
        data-aos="fade-up"
        data-aos-delay="600"
      >
        <div class="box d-flex align-items-center flex-column mb-3">
          <div class="img">
            <img src="/assets/img/nav-icon-3.png" alt="Card Image" />
          </div>
          <h3>Fugit cupiditate alias nobis.</h3>
          <p>
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Magnam in
            accusamus deserunt voluptatum ratione odit libero enim officiis
            iusto id. Illo provident mollitia cupiditate.
          </p>
          <div class="mt-auto">
            <a href="/">Get some Online zing</a>
          </div>
        </div>
      </div>
      <div class="col-md-12">
        <img src="/assets/img/value-bg.png" alt="Bg" class="img-fluid" />
      </div>
    </div>
  </div>
</section>
