<section class="why-us">
  <div class="container">
    <header class="pb-4">
      <div class="liner">
        <i class="bi bi-check-circle-fill"></i>
        <div class="line"></div>
      </div>
      <h2>OUR PAST FLIGHTS AND STORIES</h2>
      <p>
        Why choose us section design HTML is created by using Bootstrap and
        custom HTML CSS. This out services section cards are more beatiful with
        pure CSS hover effects.
      </p>
    </header>
    <div class="row gy-5">
      <div class="col-xl-4 col-md-6" data-aos="zoom-in" data-aos-delay="200">
        <div class="why-item">
          <div class="img">
            <img
              src="/assets/img/why-us/why-us-1.jpg"
              class="img-fluid"
              alt=""
            />
          </div>
          <div class="details position-relative">
            <a href="#" class="stretched-link">
              <h3>Nesciunt Mete</h3>
            </a>
            <p>
              Provident nihil minus qui consequatur non omnis maiores. Eos
              accusantium minus dolores iure perferendis.
            </p>
          </div>
        </div>
      </div>
      <!-- End Service Item -->

      <div class="col-xl-4 col-md-6" data-aos="zoom-in" data-aos-delay="300">
        <div class="why-item">
          <div class="img">
            <img
              src="/assets/img/why-us/why-us-2.jpg"
              class="img-fluid"
              alt=""
            />
          </div>
          <div class="details position-relative">
            <a href="#" class="stretched-link">
              <h3>Eosle Commodi</h3>
            </a>
            <p>
              Ut autem aut autem non a. Sint sint sit facilis nam iusto sint.
              Libero corrupti neque eum hic non ut nesciunt dolorem.
            </p>
          </div>
        </div>
      </div>
      <!-- End Service Item -->

      <div class="col-xl-4 col-md-6" data-aos="zoom-in" data-aos-delay="400">
        <div class="why-item">
          <div class="img">
            <img
              src="/assets/img/why-us/why-us-3.jpg"
              class="img-fluid"
              alt=""
            />
          </div>
          <div class="details position-relative">
            <a href="#" class="stretched-link">
              <h3>Ledo Markt</h3>
            </a>
            <p>
              Ut excepturi voluptatem nisi sed. Quidem fuga consequatur. Minus
              ea aut. Vel qui id voluptas adipisci eos earum corrupti.
            </p>
          </div>
        </div>
      </div>
      <!-- End Service Item -->

      <div class="col-xl-4 col-md-6" data-aos="zoom-in" data-aos-delay="500">
        <div class="why-item">
          <div class="img">
            <img
              src="/assets/img/why-us/why-us-4.jpg"
              class="img-fluid"
              alt=""
            />
          </div>
          <div class="details position-relative">
            <a href="#" class="stretched-link">
              <h3>Asperiores Commodit</h3>
            </a>
            <p>
              Non et temporibus minus omnis sed dolor esse consequatur.
              Cupiditate sed error ea fuga sit provident adipisci neque.
            </p>
            <a href="#" class="stretched-link"></a>
          </div>
        </div>
      </div>
      <!-- End Service Item -->

      <div class="col-xl-4 col-md-6" data-aos="zoom-in" data-aos-delay="600">
        <div class="why-item">
          <div class="img">
            <img
              src="/assets/img/why-us/why-us-5.jpg"
              class="img-fluid"
              alt=""
            />
          </div>
          <div class="details position-relative">
            <a href="#" class="stretched-link">
              <h3>Velit Doloremque</h3>
            </a>
            <p>
              Cumque et suscipit saepe. Est maiores autem enim facilis ut aut
              ipsam corporis aut. Sed animi at autem alias eius labore.
            </p>
            <a href="#" class="stretched-link"></a>
          </div>
        </div>
      </div>
      <!-- End Service Item -->

      <div class="col-xl-4 col-md-6" data-aos="zoom-in" data-aos-delay="700">
        <div class="why-item">
          <div class="img">
            <img
              src="/assets/img/why-us/why-us-6.jpg"
              class="img-fluid"
              alt=""
            />
          </div>
          <div class="details position-relative">
            <a href="#" class="stretched-link">
              <h3>Dolori Architecto</h3>
            </a>
            <p>
              Hic molestias ea quibusdam eos. Fugiat enim doloremque aut neque
              non et debitis iure. Corrupti recusandae ducimus enim.
            </p>
            <a href="#" class="stretched-link"></a>
          </div>
        </div>
      </div>
      <!-- End Service Item -->
    </div>
  </div>
</section>
