<!DOCTYPE html>
<html lang="en">
  {% include head.html %}

  <body>
    <!-- ======= Header ======= -->
    <header id="header" class="header fixed-top" data-scrollto-offset="0">
      <div
        class="container-fluid d-flex align-items-center justify-content-between"
      >
        <a href="/" class="logo"
          ><img src="/assets/img/spjed-logo.png" alt="Logo" />
        </a>

        <nav id="navbar" class="navbar">
          <ul>
            <li class="d-flex">
              <a class="nav-link scrollto" href="/">
                <div class="icon">
                  <img src="/assets/img/nav-icon-1.png" alt="" />
                </div>

                <span>Home</span></a
              >
            </li>
            <li class="d-flex active">
              <a class="nav-link scrollto" href="/">
                <div class="icon">
                  <img src="/assets/img/nav-icon-2.png" alt="" />
                </div>

                <span>Case Study</span></a
              >
            </li>
            <li class="d-flex">
              <a class="nav-link scrollto" href="/">
                <div class="icon">
                  <img src="/assets/img/nav-icon-3.png" alt="" />
                </div>

                <span>Our Story</span></a
              >
            </li>
            <li class="d-flex">
              <a class="nav-link scrollto" href="/">
                <div class="icon">
                  <img src="/assets/img/nav-icon-2.png" alt="" />
                </div>

                <span>Contact us</span></a
              >
            </li>
            <li class="d-flex">
              <a class="nav-link scrollto" href="/">
                <div class="icon">
                  <img src="/assets/img/nav-icon-3.png" alt="" />
                </div>

                <span>Why us</span></a
              >
            </li>
          </ul>
          <i class="bi bi-list mobile-nav-toggle d-none"></i>
        </nav>
        <!-- .navbar -->
      </div>
    </header>
    <!-- End Header -->

    <main id="main">
      <section
        id="hero-animated"
        class="hero-animated d-flex align-items-center"
      >
        <div class="container" data-aos="zoom-out">
          <div class="row align-items-center">
            <div class="col-md-6">
              <h2>Case Studies</h2>
              <p>
                Explore software development <br />
                case studies from companies with <br />
                similar challenges
              </p>
            </div>
            <div class="col-md-6 d-flex justify-content-center">
              <img src="/assets/img/hero-imag.png" class="img-fluid animated" />
            </div>
          </div>
        </div>
      </section>

      <!-- ======= Cases Section img-right ======= -->
      <section class="case-single">
        <div class="container mt-5" data-aos="zoom-out">
          <div class="row g-5">
            <div
              class="col-lg-8 col-md-6 content d-flex flex-column justify-content-center order-last order-md-first"
            >
              <h3>Alias sunt quas <em>Cupiditate</em> oluptas hic minima</h3>
              <p>
                Duis aute irure dolor in reprehenderit in voluptate velit esse
                cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat
                cupidatat non proident, sunt in culpa qui officia deserunt
                mollit anim id est laborum.
              </p>
              <a class="case-single-btn align-self-start" href="#"
                >Read More...</a
              >
            </div>

            <div
              class="col-lg-4 col-md-6 order-first order-md-last d-flex align-items-center"
            >
              <div class="img">
                <img
                  src="/assets/img/case-study-1.png"
                  alt=""
                  class="img-fluid"
                />
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- End Cases Section -->

      <!-- ======= Cases Section img-right ======= -->
      <section class="case-single">
        <div class="container mt-5" data-aos="zoom-out">
          <div class="row g-5">
            <div class="col-lg-4 col-md-6 d-flex align-items-center">
              <div class="img">
                <img
                  src="/assets/img/case-study-1.png"
                  alt=""
                  class="img-fluid"
                />
              </div>
            </div>
            <div
              class="col-lg-8 col-md-6 content d-flex flex-column justify-content-center"
            >
              <h3>Alias sunt quas <em>Cupiditate</em> oluptas hic minima</h3>
              <p>
                Duis aute irure dolor in reprehenderit in voluptate velit esse
                cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat
                cupidatat non proident, sunt in culpa qui officia deserunt
                mollit anim id est laborum.
              </p>
              <a class="case-single-btn align-self-start" href="#"
                >Read More...</a
              >
            </div>
          </div>
        </div>
      </section>
      <!-- End Cases Section -->

      <!-- ======= Cases Section img-right ======= -->
      <section class="case-single">
        <div class="container mt-5" data-aos="zoom-out">
          <div class="row g-5">
            <div
              class="col-lg-8 col-md-6 content d-flex flex-column justify-content-center order-last order-md-first"
            >
              <h3>Alias sunt quas <em>Cupiditate</em> oluptas hic minima</h3>
              <p>
                Duis aute irure dolor in reprehenderit in voluptate velit esse
                cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat
                cupidatat non proident, sunt in culpa qui officia deserunt
                mollit anim id est laborum.
              </p>
              <a class="case-single-btn align-self-start" href="#"
                >Read More...</a
              >
            </div>

            <div
              class="col-lg-4 col-md-6 order-first order-md-last d-flex align-items-center"
            >
              <div class="img">
                <img
                  src="/assets/img/case-study-1.png"
                  alt=""
                  class="img-fluid"
                />
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- End Cases Section -->

      <!-- ======= Cases Section img-right ======= -->
      <section class="case-single">
        <div class="container mt-5" data-aos="zoom-out">
          <div class="row g-5">
            <div class="col-lg-4 col-md-6 d-flex align-items-center">
              <div class="img">
                <img
                  src="/assets/img/case-study-1.png"
                  alt=""
                  class="img-fluid"
                />
              </div>
            </div>
            <div
              class="col-lg-8 col-md-6 content d-flex flex-column justify-content-center"
            >
              <h3>Alias sunt quas <em>Cupiditate</em> oluptas hic minima</h3>
              <p>
                Duis aute irure dolor in reprehenderit in voluptate velit esse
                cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat
                cupidatat non proident, sunt in culpa qui officia deserunt
                mollit anim id est laborum.
              </p>
              <a class="case-single-btn align-self-start" href="#"
                >Read More...</a
              >
            </div>
          </div>
        </div>
      </section>
      <!-- End Cases Section -->
    </main>
    <!-- End #main -->

    <a
      href="#"
      class="back-to-top d-flex align-items-center justify-content-center"
      ><i class="bi bi-arrow-up-short"></i
    ></a>

    <!--Footer-->
    <!-- ======= Footer ======= -->
    <footer class="footer">
      <div class="row text-center justify-content-center mt-5 mb--5">
        <div class="col-md-9">
          <div class="content p-4">
            <h2>Form your durable team with us</h2>
            <p>
              Some clients stay with us over 5 years. With 170+ professionals on
              board, we’re ready to assist you with full-cycle development.
            </p>
            <div class="btn">
              <a href="/">Book a FREE Consultant</a>
            </div>
          </div>
        </div>
      </div>
      <div class="footer-legal text-center">
        <div class="container">
          <div class="copyright">
            <div class="footer-links">
              <a href="/">Instagram</a>
              <a href="/">LinkedIn</a>
              <a href="/">Email</a>
              <a href="/"> Resume</a>
            </div>
            <hr />
            © 2022 c Web Design Company. All rights reserved. <br />
            Crafted with and powered by Jekyll
          </div>
        </div>
      </div>
    </footer>
    <!-- End Footer -->

    <!-- ======= Hero Section ======= -->
    {% include script.html %}
    <!-- End Hero -->
  </body>
</html>
